*{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
section{
    height: 100vh;
    width: 100%;
}

header{
    height: 60px;
    width: 100%;
    background-color: #222831;
}

.head{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
}

.img-bg{
    padding: 5px;
    background-color: #a9a9a9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.img-bg:hover{
    background-color: #00ADB5;
}
.head img{
    
    height: 47px;
    width: auto;
    border-radius: 50%;
}

.head ul{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    list-style-type: none;
}

.head ul li{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #00ADB5;
}
.head ul li:hover{
    text-decoration:underline;
    color: #a9a9a9;
}



#home{
    background-color: #393E46;
}

.container img{
    height: 300px;
    width: auto;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;

}
.title{
    width: 50%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title h1{
    font-size: 60px;
    color: #EEEEEE;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#about{
    background-color: #222831;
}

.content{
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items:center;
    gap: 100px;
    justify-content: center;
    color: white;
}

.content table,th,td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    padding: 20px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content td{
    text-align: center;
}
.content h1{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media only screen and (max-width: 900px){
    .container{
        justify-content: center;
        gap: 10px
    }
    .title h1{
        font-size: 40px;
    }
    .container img{
        height: 200px;
    }
}
